body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: lightskyblue;
    font-family: Helvetica, Arial, sans-serif ;
}

.container {
    display: flex;
    background-color: rgb(223, 223, 223);
    width: 350px;
    height: 100px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

#top, button, .display {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#top {
    border-top: 1px solid grey;
}

#bottom {
    border-bottom: 1px solid grey;
}

#bottom, button, .display {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.display {
    display: flex;
    flex: 1 0 auto;
    background-color: rgb(191, 191, 191);
    margin: 5px;
    align-items: center;
    justify-content: flex-end;
    padding: 7px 7px;
    font-size: 30px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    border: 2px solid grey;
    background-color: rgb(175, 175, 175);
    margin: 5px;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif
}

#zero {
    flex-grow: 2.666666666666;
}

#divide, #multiply, #subtract, #add {
    background-color: orange;
}

#equals {
    background-color: orangered;
}